
<button aria-haspopup="true" class="m-r-10 mat-icon-button" mat-icon-button="">
        <span class="mat-button-wrapper">
           <mat-icon
              class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img"
              aria-hidden="true"
              >message</mat-icon
              >
           <div class="notify pulse-button">
              <!-- <span class=""></span><span class="point"></span> -->
           </div>
        </span>
        <div
           class="mat-button-ripple mat-ripple mat-button-ripple-round"
           matripple=""
           ></div>
        <div class="mat-button-focus-overlay"></div>
     </button>
     <mat-menu class="">
        <!---->
     </mat-menu>
     <button aria-haspopup="true" class="m-r-10 mat-icon-button" mat-icon-button="">
        <span class="mat-button-wrapper">
           <mat-icon
              class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img"
              aria-hidden="true"
              >email</mat-icon>
           <div class="notify pulse-button">
              <!-- <span class="heartbit"></span><span class="point pulse-button"></span> -->
           </div>
        </span>
        <div
           class="mat-button-ripple mat-ripple mat-button-ripple-round"
           matripple=""
           ></div>
        <div class="mat-button-focus-overlay"></div>
     </button >
     <mat-menu class="">
        <!---->
     </mat-menu>
     <button aria-haspopup="true" class="m-r-5 mat-icon-button" mat-icon-button="">
        <span class="mat-button-wrapper" >
            <img alt="user" class="profile-pic" src="../../../assets/images/1.jpg"/>
        </span>
        <div
           class="mat-button-ripple mat-ripple mat-button-ripple-round"
           matripple="">
        </div>
        <div class="mat-button-focus-overlay"></div>
     </button>
     <mat-menu class="">
        <!---->
     </mat-menu>
   